<%- include('partials/header') %>
<link rel="stylesheet" href="styles.css">

<div class="bg"></div>

<div class="star-field">
<div class="layer"></div>
<div class="layer"></div>
<div class="layer"></div>
    <div class="homediv">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">OpenSpace</h1>
    <b><p class="lead">Don't keep your thoughts to yourself, share them anonymously with UNIVERSE!</b></p> 
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button" style="width: 105px;">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button" style="width: 105px; padding-bottom: 10px;">Login</a>
    
  </div>


  <div class="milkyway">
      
  </div>

</div>


  


<%- include('partials/footer') %>